<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>    
    <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Prime Shopping List</title>
</head>

<body>

    <div id="app">
        <p-confirmdialog></p-confirmdialog>
        <p-toast position="top-right"></p-toast>
        <p-panel header="Prime Shopping List">
            <i class="pi pi-shopping-cart"></i> A shopping list app built with Vue.js and PrimeVue
        </p-panel>
        <p-button label="Add Item" class="new-button" @click="newItem = true" icon="pi pi-plus-circle"></p-button>
        <p-dialog v-model:visible="newItem" modal header="New Item">
            <div>
                <p-inputtext v-model.trim="name" autocomplete="off" placeholder="Name" @blur="name=name.toUpperCase()" maxlength="20"></p-inputtext>
            </div>
            <div>
                <p-select v-model="priority" :options="priorityTypes" placeholder="Priority"></p-select>
            </div>
            <div>
                <p-textarea v-model.trim="description" rows="4" cols="30" maxlength="100" placeholder="Description"></p-textarea>
            </div>
            <div class="actions">
                <p-button type="button" label="Cancel" severity="secondary" @click="clearNewItem" icon="pi pi-stop-circle"></p-button>
                <p-button type="button" label="Save" @click="save" icon="pi pi-save"></p-button>
            </div>
            <div>
                <p-message severity="error" v-if="hasErrors" :closable="false">
                    <i class="pi pi-exclamation-triangle"></i> Fill in all fields
                </p-message>
            </div>
        </p-dialog>
        <p-dialog v-model:visible="editItem" modal header="Edit Item">
            <div>
                <p-inputtext v-model.trim="nameEdited" autocomplete="off" placeholder="Name" @blur="nameEdited=nameEdited.toUpperCase()" maxlength="20"></p-inputtext>
            </div>
            <div>
                <p-select v-model="priorityEdited" :options="priorityTypes" placeholder="Priority"></p-select>
            </div>            
            <div>
                <p-textarea v-model.trim="descriptionEdited" rows="4" cols="30" maxlength="100" placeholder="Description"></p-textarea>
            </div>
            <div class="actions">
                <p-button type="button" label="Cancel" severity="secondary" @click="clearEditItem" icon="pi pi-stop-circle"></p-button>
                <p-button type="button" label="Update" @click="update" icon="pi pi-save"></p-button>
            </div>
            <div>
                <p-message severity="error" v-if="hasErrors" :closable="false">
                    <i class="pi pi-exclamation-triangle"></i> Fill in all fields
                </p-message>
            </div>
        </p-dialog>
        <p-datatable :value="list">
            <template #header>
                <h3>Items List</h3>
            </template>
            <p-column field="name" header="Name"></p-column>
            <p-column field="priority" header="Priority"></p-column>            
            <p-column field="description" header="Description"></p-column>
            <p-column field="id" header="Actions" class="actions">
                <template #body="slotProps">
                    <p-button icon="pi pi-file-edit" severity="info" rounded raised @click="edit(slotProps.data.id)"></p-button>
                    <p-button icon="pi pi-trash" severity="danger" rounded raised @click="deleteItem(slotProps.data.id)"></p-button>
                </template>
            </p-column>
            <template #footer> 
                <h3>Total of items: {{ list ? list.length : 0 }}</h3>
            </template>
        </p-datatable>
    </div>
    
    <script src="app.js"></script>

</body>

</html>